
UIPathAutomator-SampleApp/UIPathAutomator-SampleApp.xcodeproj/project.xcworkspace/xcuserdata/
UIPathAutomator-SampleApp/UIPathAutomator-SampleApp.xcodeproj/xcuserdata/
UIPathAutomator/UIPathAutomator.xcodeproj/project.xcworkspace/xcuserdata
UIPathAutomator/UIPathAutomator.xcodeproj/xcuserdata
